:root {
    height: 100vh;
    width: 100vw;
    padding: 2%;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#content {
    width: 600px;
    margin: auto;
}

.black-text {
    color: #4E4E4D;
}

.grey-text {
    color: #959A99;
}

#content > .grey-separator {
    color: #959A99;
    height: 2px;
}

.submit-button {
    padding: 0.5rem 2rem;
    width: 120px;
}

