#teammember-list-header-wrapper {
    display: flex;
    flex-direction: row;
}

#teammember-list-header-left {
    flex: 1 0 0;
}

#teammember-list-header-right {
    margin: auto;
}

#teammember-list-wrapper {
    display: flex;
    flex-direction: row;
}

#teammember-list-wrapper:hover {
    background-color: #e1f5fe;
}

.teammember-img-wrapper {
    margin: 20px;
}

.teammember-img {
    height: 100px;
    width: 100px;
}

.teammember-info-wrapper {
    margin: 20px;
}

